body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  animation: wrapperFadeIn 250ms ease-in;
}
.wrapper--fade-out {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

@keyframes wrapperFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-element {
  opacity: 0;
  transition: opacity 100ms linear;
}
.fade-in-element--visible {
  opacity: 1;
}
